@import "tailwindcss";

@theme {
  --color-primary: #6361F5;
  --color-background: #F6F6F8;
  --color-background-light: #ffffff;
  --color-border: #E2E8F0;
}

@layer base {
  body {
    @apply bg-background text-black selection:bg-primary selection:text-white;
    font-family: var(--font-geist-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-geist-mono);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}